<nav class="navbar navbar-expand navbar-dark px-0 mx-0" style="background-color: #32a858;" font-color="white">
    <a class="navbar-brand px-3" href="index.html">Schedule Builder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="play.html">Play</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="about.html">About</a>
        </li>
      </ul> -->
    </div>
  </nav>

<div class="container-fluid">

    <table class="table">
        <!-- <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
          </tr>
        </thead> -->
        <tbody>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
            <th scope="col">Sunday</th>
          </tr>  
          <tr *ngFor="let time_interval of time_intervals; let idx = index">
            <!-- <th scope="row" class=" p-0 mx-0" style="width:100px">{{idx}}:00</th> -->
            <th *ngIf="(idx < 23 && idx > 11) || idx == 11" class=" p-0 mx-0" style="width:100px" scope="row">{{time_interval+1}}:00 PM</th> 
            <th *ngIf="idx < 11 || idx == 23" class=" p-0 mx-0" style="width:100px" scope="row">{{time_interval+1}}:00 AM</th>

            <!-- <td *ngIf="!booked_tasks.has(idx)" rowspan="1"> -->
            <td *ngFor="let day_of_week of days_of_week;" class=" p-0 "rowspan="1"> 
                <app-daycard  [day_of_week]="day_of_week" [idx]="idx" [weekly_booked_tasks]="weekly_booked_tasks"></app-daycard>
            </td>
          </tr>
        <tbody>
    </table>

    <!-- <app-daycard *ngFor="let day_of_week of days_of_week;" [day_of_week]="day_of_week" [weekly_booked_tasks]="weekly_booked_tasks"></app-daycard> -->

    <app-analysis [weekly_booked_tasks]="weekly_booked_tasks"></app-analysis>
    

    </div>
    