<!-- <div class="container-fluid"> -->

<!-- <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let time_interval of time_intervals; let idx = index">
        <th scope="row" class=" px-0 mx-0" style="width:100px">{{idx}}:00</th> -->
        <td *ngIf="!booked_tasks.has(idx)" class=" p-1" rowspan="1" scope="col">
            <div class="dropdown no-arrow" >
                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-left shadow animated--fade-in p-3" aria-labelledby="dropdownMenuLink">
                    <form>

                        <div class="form-row">
                          <div class="form-group col mt-1">
                            <label for="taskname"><i class="fas fa-book-open"></i>
                              <b> Name:</b></label>
                            <input type="text" class="form-control" id="taskname" #taskname placeholder = "Science Club" value="{{booked_task.name}}" (keyup)="onKeyTaskname(taskname.value)">
                          </div>
                        </div>    
                        <div class="form-row">
                            <div class="form-group col mt-2">
                              <label for="tasktype"><i class="fas fa-pencil-alt"></i>
                                <b> Type:</b></label>
                              <input type="text" class="form-control" id="tasktype" #tasktype placeholder = "Club" value="{{booked_task.type}}" (keyup)="onKeyTasktype(tasktype.value)">
                            </div>
                          </div>  
                          <div class="form-row align-items-center">
                            <div class="form-group col mt-2">
                              <label for="duration"><i class="far fa-clock"></i>
                                <b> Duration:</b></label>
                              <input type="text" class="form-control " id="duration" #duration placeholder = "1" value="{{booked_task.duration}}" (keyup)="onKeyDuration(duration.value)">
                            </div>
                          </div>
                              <div class="col-auto text-center">
                            <button type="submit" class="btn btn-primary mb-1 mt-2" (click)="onclick(idx)">+</button>
                        </div>
                    </form>
                </div>
              </div>
        </td>
        <td scope="col-auto " class=" p-1 d-flex " *ngIf="booked_tasks.has(idx)" style="background-color:#34af5b; color: white;" rowspan="booked_tasks.get(idx)['duration']"> 

          {{booked_tasks.get(idx)["name"]}} ({{booked_tasks.get(idx)["type"]}}) 


          <span (click)="ondeleteclick(idx)" style="cursor: pointer;"> <i class="fa fa-trash"  aria-hidden="true"></i> </span>

        </td>
      <!-- </tr>
    <tbody>
</table> -->

<!-- </div> -->
